@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.App {
  text-align: center;
}
.heading {
  font-family: 'Pacifico', cursive;
  font-size: 100px;
}

#clockdiv{
	font-family: sans-serif;
	color: rgb(0, 0, 0);
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
}

#clockdiv > div{
  width: 300px;
  height: 200px;
  margin-left: 10px;
	padding: 10px;
	border-radius: 3px;
	background: #00BF96;
	display: inline-block;
}

#clockdiv div > span{
  font-family: 'Pacifico', cursive;
  font-size: 60px;
  width: 100px;
  height: 100px;
	padding: 15px;
	border-radius: 3px;
	background: #149e85;
	display: inline-block;
}

.smalltext{
  font-family: 'Pacifico', cursive;
	padding-top:-10px;
	font-size: 60px;
}

